@charset "utf-8";
/*--ブログ一覧--*/
.wrapper{
    background-color: #fff8d0;
}
.visual img{
    width: 100%;
    height:530px;
    object-fit: cover;
    object-position: bottom;
    margin-top: 80px;
}
.visual .text{
    font-size: 48px;
    position:absolute;
    top:510px;
    left:50vw;
    transform: translateX(-50%);
    color:#fff;
}
.blog-list{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
}
.blog-list .img img{
    border-radius: 60px 30px;
    margin-bottom:20px;
}
.blog-list time{
    color:#5e5e5e;
    font-size: 20px;
}
.blog-list .title{
    color:#000;
    font-size:24px;
}
.pagenation{
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #fff8d0;
}
.pagenation li{
    margin:0 10px;
    font-size:20px;
    margin-bottom:20px;
}
.pagenation li a{
    color:#000;
}
/*--ブログ本文--*/
.post{
    margin-right:90px;
}
.post .thumbnail{
    max-width:650px;
}
.post .thumbnail img{
    border-radius: 30px;
    margin-bottom:50px;
}
.post .thumbnail .info time{
    color:#5e5e5e;
    font-size:24px;
    margin-bottom:20px;
}
.post .info .title{
    font-size:40px;
    margin-bottom:40px;
}
.post .main_text p{
    font-size:24px;
}
article{
    margin-bottom:100px;
}
.blog-post{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.sidebar .title{
    font-size: 24px;
    margin-bottom: 30px;
}
.sidebar .post-list .post-thumbnail{
    max-width:100px;
    margin-right:30px;
}
.sidebar .post-list .post-title{
    font-size: 16px;
    color:#000;
}
.sidebar .post-list a{
    display:flex;
    align-items: center;
    margin-bottom: 30px;
}

/*--スマホ用--*/
@media screen and (max-width:767px){
    /*--ブログ一覧--*/
    .visual img{
        margin-top:50px;
        height:350px;
    }
    .visual .text{
        font-size: 24px;
        top:330px;
    }
    .blog-list{
        grid-template-columns: repeat(2,1fr);
    }
    .blog-list .img img{
        border-radius: 30px 15px;;
    }
    .blog-list time{
        font-size: 16px;
    }
    .blog-list .title{
        font-size: 20px;
    }
    /*--ブログ本文--*/
    .post{
        margin-right:auto;
        margin-bottom:50px;
    }
    .blog-post{
        flex-direction: column;
    }
    .post .info .title{
        font-size:24px;
    }
    .post .main_text p{
        font-size: 16px;
    }
    article{
        margin-bottom:50px;
    }

}