@charset "utf-8";
/*-- 問い合わせ--*/
.wrapper{
    background-color: #fff8d0;
}
.visual img{
    width: 100%;
    height:530px;
    object-fit: cover;
    object-position: bottom;
    margin-top: 80px;
}
.visual .text{
    font-size: 48px;
    position:absolute;
    top:510px;
    left:50vw;
    transform: translateX(-50%);
    color:#fff;
}
input,textarea{
    background-color:white;
    border:1px solid #aaa;
}
.form-box{
    max-width:1000px;
    background-color: #fff;
    border-radius: 30px;
    padding:30px 50px;
    position:relative;
    margin:auto;
}
.form-item{
    display: grid;
    gap:10px;
    margin-bottom:20px;
}
.form-item label{
    font-size: 24px;
}
.form-item input,textarea{
    font-size:20px;
}
button{
    font-size:16px;
    color:#fff;
    background-color: #aaa;
    display: inline-block;
    padding:5px;
    width:fit-content;
    border-radius: 5px;
}
button:hover{
    opacity: 0.7;
}


/*--スマホ用--*/
@media screen and (max-width:767px){
    .visual img{
        margin-top:50px;
        height:350px;
    }
    .visual .text{
        font-size: 24px;
        top:330px;
    }
    .form-item label{
        font-size: 20px;
    }
    .form-item input,textarea{
        font-size:16px;
    }
    button{
        font-size:14px;
    }
    
}